[2020-08-09 14:10] jaggu21 opened #9 "Usage of relative paths instead of package paths."
**Is your feature request related to a problem? Please describe.**

All the imports of lib folder are imported using packages.The official documentation recommends to use alternative paths instead.Although this is debatable topic,since the documentation has mentioned to use relative paths , I would suggest you to have a look into this issue.

**Links**
 [Documentation](https://dart.dev/guides/lang

[2020-08-09 15:02] Nitish145 commented on #9
@jaggu21 we are following `pedantic` style recommendations which recommends [avoid_relative_lib_imports
](https://dart-lang.github.io/linter/lints/avoid_relative_lib_imports.html).

[2020-08-09 17:05] jaggu21 commented on #9
Hey,Different resources support different arguments.There are contrasting answers by the Dart Team itself!
Thanks for clarifying!

[2020-08-09 17:05] #9 closed

[2020-09-03 11:32] Nitish145 opened #13 "Edit & Create Views button not stretched to fill in horizontally"

[2020-09-03 11:35] Nitish145 opened #14 "CupertinoPageRoute feels a bit laggy, try MaterialPageRoute"
### Proposed Solution
Change all instances of CupertinoPageRoute to MaterialPageRoute in `utils/router.dart`

[2020-09-08 09:23] #13 closed

[2020-09-10 06:21] #14 closed

[2020-11-12 10:58] Sparsh1212 opened #17 "Disable add button on empty input field of Add Group Members"
**Is your feature request related to a problem? Please describe.**
If the input field is left blank and user presses the ADD button then it shows a **_**Enter emails in valid format**_** error message.

![image](https://user-images.githubusercontent.com/55937724/98930836-3472cb00-2503-11eb-9b45-3070cd752147.png)

This error message is not appropriate, since the user hasn't entered any email yet, s

[2020-11-12 11:22] Sparsh1212 opened #18 "Search button and hamburger menu not working in the webview of Terms of Service and Privacy policy screens"
**Is your feature request related to a problem? Please describe.**
The search functionality and hamburger menu are not working in the webview of Terms of service and Privacy Policy screen. Nothing happens on tap of search button and hamburger menu.

![image](https://user-images.githubusercontent.com/55937724/98933893-46ef0380-2507-11eb-91d8-58889c1680f2.png)

**Are you working on this? (Yes/No)**

[2020-11-12 13:13] Sparsh1212 opened #19 "Spelling error in image picker bottom sheet"
**Is your feature request related to a problem? Please describe.**
There is typo in the spelling of **Gallery** in the bottom sheet of image picker.

![image](https://user-images.githubusercontent.com/55937724/98944164-a43e8100-2516-11eb-9c01-12780935cf38.png)

Describe the solution you'd like

**_Option1:_** Make changes in the implementation of the package and then use the modified package.
**_O

[2020-11-13 15:47] manjotsidhu commented on #19
@Sparsh1212 I have submitted a Pull Request for the change to the `html_editor` library. You can find it [here](https://github.com/xrb21/flutter-html-editor/pull/26). This issue will get fixed once the PR gets merged.

[2020-11-14 05:22] manjotsidhu opened #21 "Terms of Service needs to be natively written"
Terms of Service view should be natively written instead of loading it in WebView.
This should also implement Search API to search Users and Projects.

Are you working on this? Yes

[2020-11-20 11:32] #18 closed

[2020-11-20 11:32] #21 closed

[2020-11-21 07:03] manjotsidhu opened #25 "Idea: Integrate Interactive Book in Mobile App for easy learning."
## Idea Description

CircuitVerse's [Interactive Book](https://learn.circuitverse.org) is a very helpful learning resource that can be integrated into Mobile App which will make it a real Mobile friendly learning platform for the community.

I would like to hear from the maintainers about the idea and if it sounds good, then I will also try to look into best possible ways to make it happen.

@tach

[2020-11-21 13:08] tachyons commented on #25
I like this idea, but this need to be done in such a way that content is not duplicated.

[2020-11-21 13:20] manjotsidhu commented on #25
@tachyons Definitely, even I had the same thought that content needs to centralized in a single repository and in some way we sync it to our mobile app.

[2020-11-26 13:53] manjotsidhu commented on #25
In flutter we can use Markdown and HTML to render content in some or another way. Therefore, I am thinking the implementation can go like this -

1. Syncing RAW Markdown + HTML examples using `jekyll-admin` [API](https://jekyll.github.io/jekyll-admin/api/).
2. Make a engine that will convert Jekyll stuff (like [Front Matter](https://jekyllrb.com/docs/front-matter/), `include` tags) into a single f

[2020-11-29 07:55] shagun25 opened #28 "Error in Heading Tag(Toolbox) of Add Assigment page."
![ToolBox](https://user-images.githubusercontent.com/63994999/100536332-efaa9c00-3245-11eb-977e-4783b00ba25d.jpeg)
size constraints need to be there.
Are you working on it? Yes

[2020-11-29 08:31] shagun25 opened #29 "Issue in adding group members"
![pending](https://user-images.githubusercontent.com/63994999/100537043-1b7c5080-324b-11eb-9be6-87205aa2cc43.jpeg)
If the previously entered email has not accepted the invitation to signup
then we are not able to add new user's email address in it
as it shows pending.
**Solution**: codebase need to made in such a way that even if previous user not accepted the invitation, still it should add new u

[2020-11-29 08:51] manjotsidhu commented on #28
Actually its part of `html_editor` package which uses [summernote](https://summernote.org/). The current library is not stable and hence we might require a custom implementation of a better WYSIWYG editor.

[2020-11-29 09:02] shagun25 commented on #28
I too checked the same issue, currently finding out the solution to modify the editor.

[2020-11-29 15:37] tachyons opened #30 "Focus on discovery"
Currently mobile app just like mobile web view of circuitverse website. As we don't have immediate plan to integrate simulator within the app, we should improve the circuit discovery in the app, home page should be about exploring featured, top, trending circuits

[2020-11-29 17:58] jaggu21 opened #31 "[Feature]Usage of Focus Nodes"
**Is your feature request related to a problem? Please describe.**
Currently all the forms in the app do not use focus nodes which means user will have to always select on the next input field manually. Providing an option to navigate to next input field from the keyboard will look great!

**Solution**
Usage of focus nodes.

**Are you working on this?**
Yes.

[2020-11-29 18:13] jaggu21 commented on #31
@tachyons and @Nitish145 please let me know your thoughts on this. I have already made changes accordingly. Let me know if I should make a PR.

[2020-11-29 23:34] Nitish145 commented on #31
@jaggu21 this would be a good addition. Please raise a PR.

[2020-11-30 02:39] cyber-venom003 commented on #17
@Sparsh1212 @satu0king I would like to work on this. Can you please assign it to me?

[2020-11-30 04:55] cyber-venom003 commented on #30
Is there any API for showing featured, top and trending circuits in web view which can be integrated in flutter app??

[2020-11-30 04:59] manjotsidhu commented on #30
Yes there is, please check https://api.circuitverse.org .

Also, @tachyons has focused on integrating these things natively and not using WebView.

If you don't mind, I have already started working on Featured Projects yesterday night.

[2020-11-30 05:21] tachyons commented on #30
Api is not complete as we still don't have top circuits logic in the backend, there are discussions going on this, rest can be implemented now

[2020-11-30 05:44] cyber-venom003 commented on #30
Ya no issue @manjotsidhu , go ahead 👍

[2020-11-30 07:28] manjotsidhu commented on #30
Also we need to include Embed link with Projects API, so that we can use the same in our mobile-app

[2020-11-30 08:08] manjotsidhu commented on #29
@shagun25 I think this is not an issue, pending message is for all users when invite has been sent successfully. I tried reproducing the issue but it's working even if previous user has not accepted/rejected the invite.

[2020-11-30 08:13] manjotsidhu opened #33 "Profile Name change is not reflected on App Drawer"
### Issue
After changing Profile Name, the new name is not reflecting in App Drawer and it will show new name only after restarting the App.

### Steps to reproduce this issue -
1. Go to Profile > Edit Profile > Change Name.
2. Check App Drawer, it should be reflecting the old name.
3. Restart the App and it will show the newly changed name.

Are you working on this? **No**

[2020-11-30 15:29] Nitish145 opened #35 "Add institutional typeahead in edit profile view"
Currently, the user has to input the complete name of his/her educational institute. Typeahead can help users get suggestions for their educational institute.

[2020-11-30 17:38] cyber-venom003 commented on #35
I would like to work on this. But can you please tell me if there is any API which could fetch the institute suggestions??

[2020-11-30 18:32] Nitish145 opened #36 "Simulator for Mobile App"
This issue serves as the **discussion thread** for different approaches to bringing the simulator to `mobile_app`.

[2020-11-30 18:46] Nitish145 commented on #35
Check for any packages if available. API calls for each word typed might not be that good of an idea.
@tachyons any inputs here?

[2020-12-01 05:53] tachyons commented on #35
https://pub.dev/packages/flutter_typeahead This looks good

[2020-12-01 06:18] cyber-venom003 commented on #35
@tachyons what you're thinking for suggestions?? I think a single API call to fetch all suggestions and make them in builder would work well.

[2020-12-01 06:24] cyber-venom003 commented on #36
@Nitish145 is there any documentation for web simulator?? It would be easy for us to replicate that in ``` mobile_app ``` if we read it once.

[2020-12-01 06:43] Nitish145 commented on #36
@shubhankarsharma00 any inputs here ?

[2020-12-01 07:10] manjotsidhu commented on #35
Here is an API that might be useful for searching Universities across globe : https://github.com/Hipo/university-domains-list-api

[2020-12-01 07:49] cyber-venom003 commented on #33
@manjotsidhu Can I work on this??

[2020-12-01 07:54] manjotsidhu commented on #33
Sure 👍

[2020-12-01 10:41] manjotsidhu commented on #36
The big question is that do we need Simulator in `mobile_app` ?

[2020-12-01 10:49] Nitish145 commented on #36
For people having access to only mobile phones, this can be a good addition. Also, there have been some requests regarding the same from our users/teachers.

[2020-12-01 16:20] tachyons commented on #36
One such example https://play.google.com/store/apps/details?id=com.duracodefactory.logiccircuitsimulatorpro&hl=en_IN&gl=US

[2020-12-01 17:01] shubhankarsharma00 commented on #36
https://simulator-docs.circuitverse.org/ here is a still WIP documentation.

[2020-12-01 17:51] manjotsidhu commented on #36
I think its easy enough to replicate the engine from JavaScript to Dart and most of the things might come down to UI related stuff.

[2020-12-02 03:48] tachyons commented on #36
Simulator code is complex and ui is just a very small part of it. Rewriting it in dart may not be a good idea

[2020-12-02 07:56] manjotsidhu commented on #36
So, we should look into exposing the APIs for Simulator ?

[2020-12-02 08:00] tachyons commented on #36
There should be least amount of duplication as possible. Otherwise it will
be a maintenance nightmare

On Wed, 2 Dec, 2020, 1:26 pm Manjot Sidhu, <notifications@github.com> wrote:

[2020-12-03 07:05] #31 closed

[2020-12-03 07:30] manjotsidhu commented on #19
@Nitish145 the new version of it is not released in `pub.dev` and the issue still persists. when version `1.0.2` will be available then only this will get fixed.

[2020-12-03 07:37] #29 closed

[2020-12-03 11:36] manjotsidhu commented on #36
I was reading the simulator code, the problem is that the UI and the simulator logic layer is bound together which makes it very hard to be used in mobile-app. One way possible is loading the simulator inside WebView which will locally use the JS scripts of simulator but again UI will be also handled by HTML, CSS etc.

[2020-12-04 07:35] manjotsidhu commented on #28
I just found that this might be good for our use instead of using WebView based libraries for WYSIWYG editor.
https://levelup.gitconnected.com/flutter-medium-like-text-editor-b41157f50f0e

[2020-12-05 16:30] iCoder-007 opened #38 "Introduce dark mode"
Now a days everyone like the dark mode so i would like to add dark mode option on the app.

[2020-12-07 13:39] manjotsidhu opened #41 "Feature: Add the ability to search Projects and Users within the App."
**Describe the solution you'd like**
A simple search from where we can find public Projects and Users.

**Are you working on this? No**

[2020-12-08 05:24] ZadeAbhishek commented on #41
can i work on this issue.

[2020-12-08 05:25] manjotsidhu commented on #41
Sure, go ahead 👍

[2020-12-08 05:27] manjotsidhu commented on #41
I think Search API is not yet exposed. @Nitish145 knows better.

[2020-12-08 05:34] Nitish145 commented on #41
Search needs to be implemented, check api.circutverse.org for complete details.

[2020-12-08 05:36] ZadeAbhishek commented on #41
okay sure

[2020-12-09 15:27] jaggu21 commented on #35
@Nitish145 @manjotsidhu @tachyons I have already completed working on this . Can I make a new PR?

API for countries: [https://restcountries.eu/rest/v2/all](https://restcountries.eu/rest/v2/all)
API for Institutions : [http://universities.hipolabs.com/search?](http://universities.hipolabs.com/search?)

Screenshot:
![search](https://user-images.githubusercontent.com/56889104/101649491-f2d13380-3a60

[2020-12-09 15:30] Nitish145 commented on #35
@jaggu21 go ahead!

[2020-12-09 15:54] jaggu21 commented on #35
Thank you !

I will try to make a PR as soon as possible.

[2020-12-09 15:57] tachyons commented on #35
User must be able to write custom institution name if the name is not
listed in the dropdown menu

On Wed, 9 Dec, 2020, 9:24 pm Muppuri Siva Jagadesh, <
notifications@github.com> wrote:

[2020-12-09 16:19] jaggu21 commented on #35
Sure ,yes . flutter_typeahead package  takes care of this . Adding custom institution is important because the API provided does not cover all the instituions.

[2020-12-11 07:36] manjotsidhu commented on #25
@tachyons @Nitish145 how is this kind of implementation.

[2020-12-11 07:49] tachyons commented on #25
Sounds good, can you create a proof of concept PR ?

[2020-12-11 07:50] manjotsidhu commented on #25
Sure.

[2020-12-13 13:57] manjotsidhu commented on #25
Check #44

[2020-12-14 06:05] ZadeAbhishek commented on #19
![Screenshot_1607925820](https://user-images.githubusercontent.com/66520848/102045987-57451780-3e00-11eb-89e6-9cabbc82c66f.png)

i have corrected it please check

[2020-12-14 06:18] manjotsidhu commented on #19
The new version should have the same changes.

[2020-12-14 06:32] ZadeAbhishek commented on #19
yep !

[2020-12-17 05:07] cyber-venom003 opened #45 "Disable add button on empty input field of Add Collaborators form"
Implement same changes for Add Collaborators form as done in #32 .

[2020-12-23 06:09] manjotsidhu commented on #35
Closing, Issue resolved with #43

[2020-12-23 06:09] #35 closed

[2020-12-26 14:30] pkspyder007 commented on #33
I am new to flutter but I managed to run the app locally. what I see is that we need some kind of state management to handle this change for e.g. using the Provider package to manage updates in the state.

Is there any other way of achieving this?

[2020-12-26 14:33] manjotsidhu commented on #33
In the App currently Provider package is used for state management.

[2021-01-05 17:33] manjotsidhu commented on #38
Closing, #40 merged

[2021-01-05 17:33] #38 closed

[2021-01-08 17:40] iCoder-007 opened #47 "Showing Skimmer effect while fetching the circuit."
Currently the screen is blank while fetching the circuit in featured circuit page , I think showing skimmer effect would be a better choice

[2021-01-09 08:28] pratikbaid3 opened #48 "When the description for a circuit is not present it just shows "Description:""
**Describe the bug**
When the description for a circuit is not present it just shows "Description:". Would it be better to remove the entire 'Description' section in case of no data.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Home'
2. Click on 'VDay circuit'
3. Scroll down to 'Description'

**Expected behavior**
The entire description field could be removed incase there is no da

[2021-01-09 08:34] pratikbaid3 commented on #48
#49

[2021-01-11 19:36] guptapriyanshu7 opened #51 "add a splash screen"
When the app boots it shows a blank white screen, i will add a CircuitVerse splash icon.

**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Add drawables.

**Additional context**

- Previously

![cv_prev](https://user-images.githubusercontent.com/60141300/104229238-001f7a80-5472-11eb-941a-c68bd6812f18.jpg)

- Now

![cv_now](https://user-im

[2021-01-12 03:56] manjotsidhu commented on #51
@guptapriyanshu7 are you sure you are not able to see the splash screen ? There is already a splash screen in the app

[2021-01-12 04:21] guptapriyanshu7 commented on #51
@manjotsidhu , yeah actually there is a landing icon i have seen , but before that for like 1-2 seconds there is a blank screen

[2021-01-12 04:24] manjotsidhu commented on #51
@guptapriyanshu7 The current landing page is the splash screen and that 1-2 seconds blank screen occurs only on debug build I think.

[2021-01-12 04:33] manjotsidhu commented on #51
Here is how the release build looks like :

https://user-images.githubusercontent.com/22657113/104269822-2e767780-54bd-11eb-8160-61632be05e73.mp4

[2021-01-12 04:37] guptapriyanshu7 commented on #51
@manjotsidhu ,okay so in release that screen comes for a split second.

[2021-01-12 04:54] manjotsidhu commented on #51
Actually that is not even a screen, its just a delay in loading the Splash Screen. How would you remove that delay ?

[2021-01-12 04:59] guptapriyanshu7 commented on #51
Actually the current implementation is different
Here's what i see

https://user-images.githubusercontent.com/60141300/104271414-e0fc0980-54c0-11eb-84d1-724cfc81fcfb.mp4

[2021-01-12 05:12] guptapriyanshu7 commented on #51
@manjotsidhu No no, I have added.

[2021-01-12 05:13] manjotsidhu commented on #51
Ok, you can make PR.

[2021-01-13 14:06] #51 closed

[2021-01-15 09:33] pratikbaid3 commented on #48
#53

[2021-01-15 09:53] pratikbaid3 opened #54 "Keyboard not disappearing on clicking outside the view"
**Describe the bug**
After the keyboard appears on clicking on a text field, the only was to exit the keyboard is press the back button (android) or exit the view (ios).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the 'Profile' page from the drawer
2. Click on 'Edit Profile
3. Try clicking outside the keyboard view
4. The keyboard does not disappear

**Expected behavior**
The keyb

[2021-01-15 14:15] #48 closed

[2021-01-15 18:45] pratikbaid3 commented on #54
#55

[2021-01-15 18:54] pratikbaid3 opened #56 "Add pinch to zoom in all the circuit image. Some images are very small and viewing the text is difficult without zooming it."
**Is your feature request related to a problem? Please describe.**
The circuit displayed in the project detail page is very small and there is no option to zoom.

**Describe the solution you'd like**
Add a full screen icon with the image that redirects the user to another page with the full screen of the image, this view would allow pinch to zoom so that the user can easily zoom and view the entir

[2021-01-16 03:43] #54 closed

[2021-01-16 15:02] #17 closed

[2021-01-19 11:12] rj-since-2000 commented on #33
is the issue resolved ?

[2021-01-19 11:16] pkspyder007 commented on #33
@rj-since-2000 Not yet, I tried but could not get it done.

[2021-01-19 14:56] rj-since-2000 commented on #33
@manjotsidhu Actually you don't need to restart the app to see the change in the username. Once I change the name and open the app drawer the name isn't updated yet but once I open(or click on) any other option in the app drawer the username is updated automatically in the app drawer.

[2021-01-19 15:02] manjotsidhu commented on #33
Yeah that also works, the basic issue is that the AppDrawer state is not changed as soon as the name is changed.

[2021-01-19 21:09] rj-since-2000 commented on #33
This is because the drawer state is changing only when a drawer option is clicked on!
I have solved the issue using MultiProvider considering minimalistic changes in the code design. Should I create a PR @manjotsidhu ?

[2021-01-20 04:33] manjotsidhu commented on #33
AppDrawer state is managed by Provider package, I think you can use that to update the state when name is changed.

[2021-01-22 14:19] NishantChandla commented on #56
Can I work on this? Can I add a full-screen view with pinch zoom on the image click?

[2021-01-22 14:22] pratikbaid3 commented on #56
Hi @NishantChandla I have already started working on this and will be creating a PR in the coming days. Thanks

[2021-01-22 14:25] NishantChandla commented on #56
Okay!

[2021-01-22 19:11] spiderxm commented on #47
I want to work on this issue

[2021-01-23 13:49] NishantChandla opened #59 "Add a share link button to project screen."
**Is your feature request related to a problem? Please describe.**
I wanted to share a project I found using the app. But there is no option to do so. I had to find the same on website and then copy and share the link.

**Describe the solution you'd like**
Add a share link button in project screen, this would allow user to share link of the project in other apps. This will use the share plugin - h

[2021-01-23 14:18] manjotsidhu commented on #47
https://github.com/CircuitVerse/mobile-app/pull/57 is already work-in-progress

[2021-01-23 14:57] spiderxm opened #60 "Display rating of circuits in more better way"
## Rating show one star only when the rating is 1 stars or 5 stars.
![WhatsApp Image 2021-01-23 at 8 15 02 PM](https://user-images.githubusercontent.com/53966291/105590349-0be73700-5db8-11eb-9a27-956df6541515.jpeg)
![WhatsApp Image 2021-01-23 at 8 15 04 PM](https://user-images.githubusercontent.com/53966291/105590780-2ae5c900-5db8-11eb-8c16-967ef6cc9989.jpeg)
## It should show five stars and the n

[2021-01-25 03:22] Nitish145 commented on #60
Here stars don't mean rating, rather it is the number of people who starred this project. Closing this

[2021-01-25 03:22] #60 closed

[2021-01-26 06:33] #56 closed

[2021-01-26 12:48] #59 closed

[2021-01-28 17:25] spiderxm opened #63 "Add a text message if no circuits or favourites are present."
If there are no circuits or favourite circuits blank area is shown.
A text message with some basic info should be there.

[2021-01-28 17:25] spiderxm commented on #63
Assign me this issue

[2021-01-29 12:44] Nitish145 commented on #63
Try to implement what's on the web. Also, you need to comment and get started if no one else has claimed it by then for you to work on any issue.

[2021-01-30 07:38] spiderxm commented on #63
Why are we not following standard procedure of assigning the issue and then work on it.
I am working on this issue but now its all in vain.
I have commented too.

[2021-01-30 08:13] manjotsidhu commented on #63
@dakshp07 This issue was already assigned to @spiderxm 2 days ago. You have to follow the community guidelines of contributing.

[2021-01-30 08:14] spiderxm commented on #63
Thanks

[2021-01-31 09:12] CoderMayhem opened #67 "No text shown when the user isn't a member of any group"
**Is your feature request related to a problem? Please describe.**
When the user is not a member of any group the groups tab shows no space below the heading and is immediately followed by the next heading. This looks odd. See attached screenshot for reference.
**Describe the solution you'd like**
A text widget showing 'None' in case of no groups improves the look of the screen.

**Additional cont

[2021-01-31 09:17] CoderMayhem commented on #67
#66 fixes the issue. Kindly have a look.

[2021-02-01 04:51] manjotsidhu commented on #63
@Nitish145 There are 2 PRs created by @dakshp07 and @spiderxm for this issue, #64 and #65. Kindly resolve the conflict between them.

[2021-02-04 10:21] CoderMayhem opened #68 "Adding a button on HomeScreen that directs the user to CircuitVerse website"
**Is your feature request related to a problem? Please describe.**
The Home Screen of the app has no feature to get the user to the Circuit Verse website.

**Describe the solution you'd like**
My idea is to keep a button that directs the user to the Circuit Verse website.

**Additional context**

[Link to the demo video](https://drive.google.com/file/d/1ErrIaaBYbmMaIX9NrMUm2oH1wGcxQL3O/view?usp=sh

[2021-02-05 16:36] iCoder-007 opened #69 "Single project can forked multiple times"
One can fork a single project multiple times

[2021-02-05 20:00] spiderxm commented on #69
I would like to work on this issue.

[2021-02-06 09:02] manjotsidhu commented on #69
@tachyons I think its a indented behavior to fork projects multiple times ?

[2021-02-07 10:46] Nitish145 commented on #68
You can go ahead with any issue if any other contributor does not claim the issue. In this case, it's a yes!

[2021-02-07 10:48] #68 closed

[2021-02-07 10:49] Nitish145 commented on #69
Yes, it is. If a user wants to create multiple copies of a project, he should be able to.

[2021-02-07 10:49] #69 closed

[2021-02-07 16:03] iCoder-007 opened #70 "Showing starred in unstarred project"
When one goes from favourites to project detail and unstar the already starred project and pops back to favourites and once again goes project detail page the star button shows it as starred.

Have a look

https://user-images.githubusercontent.com/55887676/107152066-eea39280-698b-11eb-98a2-1811d2065447.mp4

[2021-02-07 17:56] ayan-biswas0412 commented on #45
can I work on this issue ?

[2021-02-07 22:37] cyber-venom003 commented on #45
@ayan-biswas0412 The issue has been solved in PR #32 itself.

[2021-02-07 22:37] #45 closed

[2021-02-08 12:39] PaRaDoX50 opened #72 "ui: Add member dialog is not aligned to the center"
**Describe the bug**
Add Member dialog box should be aligned to the center.It should adjusts it position according to the keyboard state.
**To Reproduce**
Steps to reproduce the behavior:
In the group details page,click on Add (Member's tile)

**Screenshots**
![before](https://user-images.githubusercontent.com/55514928/107220647-a0000200-6a38-11eb-9a6f-2f5b013a777d.jpeg)

**Additional context**
Si

[2021-02-08 21:28] PaRaDoX50 opened #74 "feature: Implementing Lazy Loading(Scroll to load) for FeaturedProjectView"
**Is your feature request related to a problem? Please describe.**
As we scroll to the end, a "Load More" button appears to load more items.
**Describe the solution you'd like**
Instead of the Load Button, more items should automatically load with a loading animation as soon as we reach the end of the list.

**Additional context**
<img src="https://user-images.githubusercontent.com/55514928/107283

[2021-02-08 21:29] PaRaDoX50 commented on #74
Hey @manjotsidhu ! may I work on this?

[2021-02-09 09:05] manjotsidhu commented on #74
Yes, you can go ahead with this.

[2021-02-09 10:05] ayan-biswas0412 opened #75 "Release app on firebase app distribution to get user feedback [develop CI]"
**Is your feature request related to a problem? Please describe.**

It is not a problem but a usability enhancement to the project

**Describe the solution you'd like**
I was wondering that if a person is kind of non-developer or haven't been to GitHub then we can provide them the apk via firebase app distribution and they can test the app and developers can get the comments from the users via a g

[2021-02-09 10:52] manjotsidhu commented on #75
We currently don't have a set of testers in mobile-app and since its not released on App Stores, I don't think pre-release would be beneficial.

Tagging mentors - @Nitish145 @tachyons

[2021-02-09 11:17] Nitish145 commented on #75
We will soon be releasing on playstore. And if some non-developer wanted to test the app, we would require his/her email, that's kind of a hassle imo. So, playstore/appstore would anyday be a good option.

[2021-02-09 11:23] ayan-biswas0412 commented on #75
just a suggestion : I thought to keep a form in the main website to collect the emails and directly add them as testers in app distribution via api call

[2021-02-09 13:28] tachyons commented on #75
We can afford to pay for a google play account, that is not an issue. Only iOS is an issue as app store is very expensive

[2021-02-09 14:07] ayan-biswas0412 commented on #75
for that we can also use this : https://firebase.google.com/docs/app-distribution/ios/distribute-console

[2021-02-09 14:10] pratikbaid3 commented on #75
@ayan-biswas0412 I don't think you can distribute a ios build through any channel without a apple developer account which costs $90/year.

[2021-02-09 14:16] ayan-biswas0412 commented on #75
I have seen this video and thought the similar thing : https://youtu.be/VbKiIJuGygg (please ignore the language in the video, not available in English 😅)

[2021-02-10 12:14] kishanhitk commented on #75
I just read the docs from firebase and in [Step 3](https://firebase.google.com/docs/app-distribution/ios/distribute-console#register-tester-devices) they have mentioned that you need an Apple Developer Account to add a test device.

[2021-02-10 12:19] ayan-biswas0412 commented on #75
sorry my bad I missed the info 😢

[2021-02-26 14:34] manjotsidhu commented on #70
That's because the state of favourites circuit doesn't reload when this happens

[2021-03-02 08:37] #72 closed

[2021-03-02 13:08] kishanhitk commented on #41
I checked [api.circuitverse.org](api.circuitverse.org) but I can't find any direct search API endpoint for projects or users.
@Nitish145, is getting all users using `/api/v1/users` and doing a search on that list locally a good design?

[2021-03-02 14:37] tachyons commented on #41
No, it requires search to be implemented in the api, filtering in client side won't work

[2021-03-13 12:03] #75 closed

[2021-03-13 12:50] Nitish145 opened #77 "Upgrade to flutter 2.0"
Some deprecations in flutter 2.0 like `FlatButton`, `RaisedButton` etc. needs to be changed to use the new API for the buttons.

The deprecations will be highlighted using pedantic's linting.

[2021-03-14 09:02] OnyemaAnthony opened #78 "Updating the profile with name less than tree characters"
A user can update his or her profile with one single character, the application only check for when the input for is empty, can I work on this
![Screenshot_20210314-095300](https://user-images.githubusercontent.com/50530242/111062949-634a7f00-84ac-11eb-9312-c42a1ad29813.png)

[2021-03-14 09:07] OnyemaAnthony commented on #78
@manjotsidhu please can I work on this?

[2021-03-14 09:54] tachyons commented on #78
There are many names with just two alphabets, So it is better to avoid judgement and avoid validation on name length

[2021-03-14 10:00] #78 closed

[2021-03-14 10:10] OnyemaAnthony opened #79 "Validate password form"
Right now in the password Field for the login and sign up form the user can try to login with or sign up with a single character password, I want to validate the frontend so that the user can only login or sign up with password greater than or equal to 6 characters

[2021-03-14 10:24] OnyemaAnthony commented on #79
@manjotsidhu can I work on this?

[2021-03-18 16:46] #19 closed

[2021-03-18 16:46] #77 closed

[2021-03-19 09:42] manjotsidhu opened #81 "CI/CD for Google Play Store using Fastlane"
Continuous Integration and Deployment of Mobile App should happen using Fastlane with the help of GitHub Actions.
Changes pushed to `master` branch should automatically trigger GitHub Actions pipeline and Incremental build should automatically be deployed to Google Play Store.

[2021-03-21 11:00] manjotsidhu commented on #81
@tachyons @Nitish145 Need your opinions on which platform we should deploy, GitHub Actions or Circle CI ?

[2021-03-21 14:25] tachyons commented on #81
Can use github actions as we are already using it for CI

[2021-03-27 11:30] abstrekt opened #83 "Toggle Full screen for Project Details view"
**Is your feature request related to a problem? Please describe.**
Better view of the circuits.

**Describe the solution you'd like**
I think it be better to have a button to toggle the current circuit image in `Project Details` view as full screen instead of just able to zoom inside the fixed 1x1 widget.

**Are you working on this? (Yes/No)**
No

[2021-03-27 11:34] abstrekt opened #84 "Missing Failed to load/ Error widget"
**Describe the bug**
Should be a proper view if content failed to load due to some error like no internet or something

**To Reproduce**
Steps to reproduce the behaviour:
Turn off internet & load something.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device Information [optional]:**

- OS: Android

**Additional context**
No

**Are you working on this issue? (Ye

[2021-04-02 20:58] satu0king commented on #36
@manjotsidhu would it have been easier if we had used react native instead of flutter?

[2021-04-03 04:17] manjotsidhu commented on #36
It would have been a little easier since we don't need to port JS to Dart, but the UI layer will still have to be changed anyways for both Flutter and React.

[2021-04-03 07:44] satu0king commented on #36
Understood. The bulk of the code is actually not the UI. So yes we would need to decouple it but it would be possible.

[2021-04-03 12:20] pavanjoshi914 opened #85 "Restrictions on number of characters to be used in form input fields"
**Is your feature request related to a problem? Please describe.**
     Mobile-app posess forms for  group creation , assignment creation , profile edits etc
     Currently majority of the input field of forms don't provide restrictions on number of characters to be used and results into uncleaner UI experience

**Describe the solution you'd like**
1> provide restriction on number of characters en

[2021-04-03 13:53] manjotsidhu commented on #36
I am having a hard time wrapping my head around how Simulator core can be kept common. We cannot expose APIs as it would be very slow to do every single task. I think we have to re-write the whole simulator in dart for compatibility.

[2021-04-03 14:04] tachyons commented on #36
As the first phase we can embed simulator in web view once the touch compatibility is done

[2021-04-03 14:05] manjotsidhu commented on #36
Ok that can be done.

[2021-04-03 14:06] tachyons commented on #85
I don't think this add much value as it is up to the user to select the title, also text length restriction can be tricky for non English languages as many languages require more than one character to form an alphabet

[2021-04-04 15:54] nrj-kr opened #86 "Timing spelling is wrong in front page"
**Describe the bug**
In the front page ,as the app opens the main screen after the logo, there is spelling mistake in timing. It is written "plot timimg diagrams" instead of "plot timing diagrams".
**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'circuitverse app'
2. Scroll  to 'front page'
3. See error

**Expected behavior**
It should be written plot timing diagrams.

**Screenshots**

[2021-05-07 05:33] manjotsidhu commented on #81
@Nitish145 @satu0king any updates about the Fastlane deployment variables being set in GitHub Actions ?

[2021-05-07 05:50] Nitish145 commented on #81
Will push the deployment action soon. Thanks for your PR :) @manjotsidhu

[2021-05-07 13:17] #81 closed

[2021-05-19 18:17] Anshnrag02 commented on #86
Kindly assign me this

[2021-05-20 03:32] nrj-kr commented on #86
You can directly start working on the issue

On Wed, 19 May 2021, 23:48 Ansh Anurag, ***@***.***> wrote:

[2021-05-20 03:41] manjotsidhu commented on #86
A Pull Request has already been submitted, you can work on other issues.

[2021-05-20 05:05] Anshnrag02 commented on #85
May I work on it?

[2021-05-20 05:52] manjotsidhu commented on #86
Issue fixed by #90

[2021-05-20 05:52] #86 closed

[2021-05-20 07:44] Anshnrag02 opened #91 "Change in Icon Style"
The app icon is in square shape not circular. This makes the app aesthetically unappealing and it is not in sync with material design concepts and gives an asymmetric look in comparison to other apps.

Kindly change the app icon to a circular shape.

![WhatsApp Image 2021-05-20 at 12 49 53 PM](https://user-images.githubusercontent.com/75090766/118938345-2b5c2e00-b96c-11eb-888a-11975a12d040.jpeg)

[2021-05-20 08:24] manjotsidhu commented on #91
For me the App Icon is a little different but we need padding as well.
![Screenshot_2021-05-20-13-53-04-988_com.miui.home.jpg](https://user-images.githubusercontent.com/22657113/118945221-e4be0200-b972-11eb-88a1-753ffe27f683.jpg)

[2021-05-20 08:36] Anshnrag02 commented on #91
Totally agreed @manjotsidhu

[2021-05-20 08:54] suyash-patil commented on #79
@manjotsidhu can we implement this with 8 characters?

[2021-05-20 08:59] manjotsidhu commented on #79
@Nitish145 can you give your comments on do we need this "feature" ?

[2021-05-20 09:01] #85 closed

[2021-05-20 09:12] manjotsidhu commented on #63
@Nitish145 you can review and merge any one from #64 and #65

[2021-05-20 11:06] suyash-patil opened #92 "Register Tile along with Login in Sidebar"
**Is your feature request related to a problem? Please describe.**
Currently, there is only Login button in sidebar. If a user wants to register, he has to go to login page and then to signup page. After this feature, he can directly go to registration page.

**Describe the solution you'd like**
We can create a Register button so that user can go to register page directly.

**Are you working on th

[2021-05-20 11:50] Nitish145 commented on #92
This is not a useful feature imo, register option is only there in LogIn View (check [circuitverse.org](https://circuitverse.org)). Hence, closing!

[2021-05-20 11:50] #92 closed

[2021-05-20 11:53] suyash-patil commented on #92
okay

[2021-05-22 06:54] Anshnrag02 opened #95 "Multiple Splash Screen"
Multiple Splash Screens are being observed

![WhatsApp Image 2021-05-22 at 11 52 38 AM](https://user-images.githubusercontent.com/75090766/119217556-989cca00-baf8-11eb-97dc-f8a9dddd8eea.jpeg)
![WhatsApp Image 2021-05-22 at 11 52 38 AM (1)](https://user-images.githubusercontent.com/75090766/119217557-99cdf700-baf8-11eb-87f8-34ca5a091d2d.jpeg)

multiple splash screens are not required.

[2021-05-22 06:58] manjotsidhu commented on #95
This is not an Issue but actually is part of running any android app. The first Splash screen is visible while the Flutter is about to run the Main dart And then the second Splash screen is when our authentication happens.

[2021-05-22 07:17] Anshnrag02 commented on #95
Can we have similar-looking splash in both cases?
For a user it will look like 2 screens otherwise

[2021-05-22 07:18] manjotsidhu commented on #95
Hmmm you can but it's not a big deal, the first splash screen surely takes <1 sec.

[2021-05-22 08:37] Anshnrag02 commented on #91
Can you assign it to me?

[2021-05-22 08:38] manjotsidhu commented on #91
Sure go ahead 👍

[2021-05-22 08:49] Anshnrag02 commented on #91
Please check the PR.

[2021-05-22 16:37] suyash-patil commented on #91
#96

[2021-05-23 08:51] #63 closed

[2021-05-23 10:55] Anshnrag02 opened #97 "Feature: Empty State Icon/Message missing."
If the groups are empty the app screen appears like empty lists with the headers.

1. Install the .apk file
2. open the app
3. go to the side pane and login/signup
4. now under your name in the side pane go to the group section

![WhatsApp Image 2021-05-23 at 2 15 53 PM](https://user-images.githubusercontent.com/75090766/119257455-eaba1a00-bbe2-11eb-8f97-ad3843fffc3d.jpeg)

Solution.
If none of th

[2021-05-25 15:45] #91 closed

[2021-05-26 06:49] #95 closed

[2021-06-12 07:28] #28 closed

[2021-06-12 09:54] manjotsidhu opened #99 "Dart: Migrate to null safety"
**Describe the bug**
We should be migrating to null safety which was introduced in Dart 2.0. But before that, we need to make sure that first our dependencies are migrated to null safety according to this Guide: https://dart.dev/null-safety/migration-guide

[code]

This Issue serves as a checklist of all the packages which have been migrated to null safety.

- [x] animations
- [x] cupertino_icons

[2021-06-12 10:00] manjotsidhu commented on #99
@Nitish145 `flutter_icons` is not maintained anymore, can we switch to `fluttericon`:https://pub.dev/packages/fluttericon ?

[2021-06-12 11:13] Nitish145 commented on #99
Go Ahead @manjotsidhu

[2021-06-12 13:09] manjotsidhu commented on #99
@ShreyaPrasad1209 this can also be considered as #good-first-issue.

[2021-06-13 17:26] Anshnrag02 opened #100 "Align app to Material Design Guidelines"
A lot of elements in the app UI are not in accordance with the material design guidelines. Kindly work on the app UI with reference to [material.io](material.io).

[2021-06-17 04:04] ShreyaPrasad1209 commented on #100
@manjotsidhu can we add this to good first issue?

[2021-06-17 04:11] manjotsidhu commented on #100
Sure but @Anshnrag02 is already working on it. @Anshnrag02 can you make a checklist on what things needs to be done, we can keep some of them for the community.

[2021-06-17 11:54] Anshnrag02 commented on #100
@manjotsidhu @nitin10s can we work on the figma first.

[2021-06-24 07:24] ShreyaPrasad1209 commented on #100
@Anshnrag02 are there any tasks that we can keep for other contributors?

[2021-06-24 09:15] Anshnrag02 commented on #100
Just give me a few days. I will work out a list of problems and hopefully a target design so that we can code the changes efficiently.

[2021-07-02 15:06] manjotsidhu opened #102 "[Interactive Book] Fix Images not loading in pages."
**Describe the bug**
Current version of Interactive Book doesn't supports *SVG* images and HTML image tags.

**ToDo**
- [ ] https://github.com/CircuitVerse/Interactive-Book/issues/558
- [x] #113

**NOTE: Interactive Book being in beta, can be checked in `ib` branch**

[2021-07-02 15:11] manjotsidhu opened #103 "[Interactive Book] Fix inline HTML tags like sup and sub"
**Describe the bug**
We need to support important inline HTML tags like **subscript** and **superscript**

**ToDo**
- [ ] Custom Inline Syntax for subscript and superscript.
- [ ] Custom subscript and superscript Text Builder.

Reference: https://github.com/flutter/packages/blob/master/packages/flutter_markdown/example/lib/demos/subscript_syntax_demo.dart

**NOTE: Interactive Book being in beta, c

[2021-07-02 15:18] manjotsidhu opened #104 "[Interactive Book] Fix text links in pages"
**Describe the bug**
There are 2 types of links in Interactive Book:
- Relative URIs/Links: They are relative links which should navigate to the specific section in the page.
- Absolute URLs: They are external links should directly open the link on external browser.

**ToDo**
- [x] Fix Absolute URL specifying action onTap
- [ ] Fix Relative URLs by first assigning id's like markdown to headings an

[2021-07-02 15:27] manjotsidhu opened #105 "[Interactive Book] Showcase and brief buttons and toggles at first launch."
**Is your feature request related to a problem? Please describe.**
Someone new to Interactive Book will find all the options like Table of Contents, Chapters and Sections confusing, we should provide an introductory briefing about Interactive Book and it's options.

**Describe the solution you'd like**
Showcasing the App at first launch using Flutter package would be ideal, this will involve desig

[2021-07-08 12:13] ShreyaPrasad1209 commented on #103
@manjotsidhu we can add this to good first issues right?

[2021-07-08 12:14] ShreyaPrasad1209 commented on #102
@manjotsidhu can we add this to good first issues?

[2021-07-08 12:16] manjotsidhu opened #107 "Convert all HTML image tags to follow Liquid syntaxes."

[2021-07-10 12:00] manjotsidhu commented on #100
@aayush-05 We would love to see some updates on this, if you are busy. You can commit your work to a PR (in case of code) or share Figma (in case of design), so that contributors can take up your work.

[2021-07-10 12:13] manjotsidhu commented on #97
Some examples for empty states: https://emptystat.es/

[2021-07-12 15:11] Anshnrag02 commented on #100
Where shall I share the figma @manjotsidhu ? Actually, I am pretty occupied with my end seems till July end. So what I can do is share an empty figma file to work. Also I was kind of waiting for Nitin sir to make the figma but anyways I will share it. Please let me know where shall I share?

[2021-07-15 16:17] vvijayalakshmi21 commented on #102
Hello.
I am interested to pick this up

[2021-07-15 16:21] manjotsidhu commented on #102
Good to hear that, you can start with the first ToDo item https://github.com/CircuitVerse/Interactive-Book/issues/558

[2021-07-21 12:19] manjotsidhu opened #113 "Override in-built image builder to support SVG images using `flutter_svg`"

[2021-07-22 02:05] #113 closed

[2021-07-23 06:48] Mobasherah12 commented on #99
@manjotsidhu @ShreyaPrasad1209 Hi, I'm an Open Source Day participant, willing to work on this. Please do assign me.

[2021-07-23 07:18] manjotsidhu commented on #99
Go ahead!

[2021-07-27 06:02] #103 closed

[2021-08-02 03:56] #102 closed

[2021-08-02 04:03] manjotsidhu opened #119 "[Null Safety] swap `flutter_icons` with `fluttericon`"
Since `flutter_icons` doesn't supports null-safety, we need to swap it with `fluttericon` to make sure our dependencies are sound null-safe in accordance with Dart 2.0

https://pub.dev/packages/fluttericon

[2021-08-03 05:03] santoshdvc commented on #119
@manjotsidhu I see there is no `fluttericon.dart` file in the dependency `fluttericon`. It needs to be replaced with some other icon pack from the dependency.

[2021-08-03 05:09] manjotsidhu commented on #119
You have to change implementation also, the same icons are present in `fluttericon` but it's usage will be different.

[2021-08-03 05:21] santoshdvc commented on #119
Okay. I will see to it.

[2021-08-12 01:09] #104 closed

[2021-08-16 10:14] #119 closed

[2021-09-10 08:42] roopak99 commented on #105
can i work on this issue?

[2021-09-10 08:44] manjotsidhu commented on #105
Sure, go ahead.

[2021-09-11 12:01] roopak99 opened #135 "CI Failing due to usage of some deprecated features"
**Describe the bug**
CI fails after #84 due to the following features ( `accentColor`, `accentTextTheme` and `brightness` )
These errors are thrown by `flutter analyze` and the log of it is attached below :

<details>
<summary>CI Flutter analyze log</summary>

[code]
</details>

Checklist :
- [ ] `accentColor` depreciated, replace it with `colorScheme.secondary`
- [ ] `accentTextTheme` depreciated

[2021-09-11 12:20] manjotsidhu opened #136 "Flutter 2.5: Migrate to recommended `flutter_lints` package"
## What is `flutter_lints` ?

The package:flutter_lints defines the latest set of recommended lints that encourage good coding practices for Flutter apps, packages, and plugins. Projects created with flutter create using Flutter version 2.3.0-12.0.pre or newer are already enabled to use the latest set of recommended lints. Projects created prior to that version can upgrade to it with the instructi

[2021-09-14 07:18] roopak99 opened #138 "[BUG] ERROR: The argument type 'PointerEvent' can't be assigned to the parameter type 'PointerDownEvent'."
**Describe the bug**
After updating `Flutter (Channel stable, 2.5.0)` to the latest versions, I'm getting the following error when building:

/../AppData/Local/Pub/Cache/hosted/pub.dartlang.org/photo_view-0.11.1/lib/src/core/photo_view_gesture_detector.dart:106:29: Error: The argument type '`PointerEvent`' can't be assigned to the parameter type '`PointerDownEvent`'.

    '`PointerEvent`' is from

[2021-09-14 07:54] manjotsidhu commented on #138
The latest version of photo_view is `0.12.0`. You can try updating to that, it should fix that issue

[2021-09-14 07:58] manjotsidhu commented on #138
This is a breaking issue in Flutter 2.5.
https://github.com/bluefireteam/photo_view/issues/459
Either wait for this [PR](https://github.com/bluefireteam/photo_view/pull/462) to get merged or use [forked photo_view](https://github.com/bluefireteam/photo_view/issues/459#issuecomment-918020139) with flutter 2.5 support

[2021-09-14 09:00] roopak99 commented on #138
[This](https://github.com/bluefireteam/photo_view/issues/459#issuecomment-918020139) solved this issue temporarily

[2021-09-16 16:33] renancaraujo commented on #138
This was fixed on photoview 0.12.0.

[2021-09-17 10:13] renancaraujo commented on #138
https://github.com/bluefireteam/photo_view/issues/459#issuecomment-921678753

[2021-09-21 04:24] manjotsidhu opened #139 "Hacktoberfest Recommendations"
Hacktoberfest 2021 is coming on 1st October, we should apply the recommendations given by Hacktoberfest -

- [x] Add the 'hacktoberfest' topic to your repository/project so that folks know you're participating in Hacktoberfest.
- [x] Apply the 'Hacktoberfest' label to issues in your GitHub or GitLab project that are ready for contributors to work on.
- [ ] Add a CONTRIBUTING.md file with contribut

[2021-09-29 07:11] Samdid commented on #105
I would like to work on this issue, @manjotsidhu can you assign it to me?

[2021-09-29 07:22] manjotsidhu commented on #105
Go ahead!

[2021-09-29 08:23] RohanSengupta326 commented on #97
@manjotsidhu Is someone already assigned for this issue, else I would like to work on it.

[2021-09-29 08:32] manjotsidhu commented on #97
Go ahead!

[2021-09-29 18:03] Neha62-lit commented on #136
@manjotsidhu, In flutter_lints dependencies, there are lot of changes in the files(almost 151 files) like remove the deprecated code and some warnings etc. that I have to make in the code. So What can I do now?
Should I make all those changes and push the code?

[2021-09-30 05:31] Neha62-lit commented on #136
Hey @manjotsidhu,
Can you please tell me, What should I do now?

[2021-09-30 06:27] Samdid commented on #105
Hey @manjotsidhu, on which screen do I have to add this feature?

[2021-09-30 07:45] manjotsidhu commented on #105
Interactive Book Home

[2021-09-30 07:51] Samdid commented on #105
Okay!!

[2021-09-30 11:40] rktejesh commented on #139
Can I work on this issue @manjotsidhu

[2021-10-01 12:58] #139 closed

[2021-10-03 05:14] #135 closed

[2021-10-03 05:14] #138 closed

[2021-10-03 05:18] manjotsidhu commented on #136
@Neha62-lit You can pull the changes and check now if most of  the warnings and errors are fixed. If not then kindly send screenshot of the warnings/errors you are getting.

[2021-10-03 06:11] Neha62-lit commented on #136
Yes, Sure!

[2021-10-03 06:11] jassi-singh commented on #83
hi, I want to work on this issue can I go ahead?

[2021-10-03 06:15] manjotsidhu commented on #83
Sure go ahead!

[2021-10-03 07:13] Neha62-lit commented on #136
After running flutter analyze command, I am getting this warnings. Should I fix all those warnings or not?

![Screenshot (159)](https://user-images.githubusercontent.com/70088044/135743874-b434bbf6-b115-4243-ba2a-01474bcde4bd.png)

[2021-10-03 07:59] manjotsidhu commented on #136
Would be great if you fix them since we are not following recommended set of lints. Though this issue was for migration to `flutter_lints` package, the scope of fixing those issues (468) are way too much for this migration and this can lead to a lot of code in a single PR. We can do the following steps -

- [ ] Create another branch, `fix-lints`. Target all changes for fixing analyzer issues to th

[2021-10-03 09:06] Neha62-lit commented on #136
I guess Option1 would be great.

[2021-10-03 14:22] manjotsidhu commented on #136
I feel a major drawback of Option 1 is that there will be new commits coming on `master` branch and later on we will have to fix merge conflicts but in Option 2 there are less chances of merge conflicts since every PR will target `master` branch.

[2021-10-03 14:42] tachyons commented on #136
It depends on two factors
1. how much effort we need to put to fix linting issues
2. How frequent are the updates to the master branch

Is the current master branch passing CI ?

[2021-10-03 14:59] manjotsidhu commented on #136
1. 468 Analyzer issues may need significant collaborative efforts.
2. As you can see by the pull requests of contributions, we can say 1 PR/week.

The current branch of master is passing both CI and CD.

[2021-10-04 18:04] #83 closed

[2021-10-05 03:38] jassi-singh commented on #97
@manjotsidhu i would like to work on this issue if @RohanSengupta326 is not working on it.

[2021-10-05 05:47] manjotsidhu commented on #136
@Neha62-lit I think it would be easy for us to go for Option 1. You can make the PR for migration and also ignore all the issues that analyzer is throwing, example :
`analysis_options.yaml`
[code]

[2021-10-05 07:28] Neha62-lit commented on #136
Okay

[2021-10-05 08:06] #136 closed

[2021-10-05 14:25] jassi-singh commented on #97
@manjotsidhu can I work on this?

[2021-10-05 14:28] manjotsidhu commented on #97
Yes you can

[2021-10-05 16:09] jassi-singh commented on #97
@manjotsidhu here we are having two lists of groups

- groups you mentor
- groups you are in

instead of having two lists can we have two tabs
- mentored groups
- joined groups

do this need to be discuss with UI team first ?
<img src = "https://user-images.githubusercontent.com/54185836/136059674-2f5ef2d5-9b36-4c14-b907-20ade7392ab4.png" width = "300" >

[2021-10-05 16:39] manjotsidhu commented on #97
Thanks for your insightful suggestions, you can head over to our Slack channel where we discussed about this and you can follow up to that.

[2021-10-06 07:17] Neha62-lit opened #149 "Fix and enable linter rules"
**Is your feature request related to a problem? Please describe.**

Yes, In flutter-lints dependency there are so many linter rules that I disabled in PR #148

Now here are the checklists of the lint rules that are disabled (enabled rules are marked as checked) :

- [x] always_declare_return_types
- [x] avoid_print
- [x] avoid_unnecessary_containers
- [x] prefer_if_elements_to_conditional_expressi

[2021-10-06 07:23] Neha62-lit commented on #149
Hey @manjotsidhu, Now I have to create a single PR of one rule, right?

[2021-10-10 03:25] prasadsunny1 commented on #99
What more needs to be done in this issue?

[2021-10-10 05:20] manjotsidhu commented on #99
https://dart.dev/null-safety/migration-guide

[2021-10-10 06:34] prasadsunny1 commented on #99
Let me try migrating

[2021-10-25 05:35] RohanSengupta326 opened #164 "Need upgradation to V2 Embedding"
**Is your feature request related to a problem? Please describe.**
The plugin `flutter_web_auth` uses a deprecated version of the Android embedding.

**Describe the solution you'd like**
Migrating to V2 embedding.

**Are you working on this? (Yes/No)**
No

[2021-10-25 06:53] RohanSengupta326 opened #165 "Removal of deprecated methods in main.dart, ib_theme.dart, cv_theme.dart,"
**Is your feature request related to a problem? Please describe.**
Usage of deprecated methods while theming the app.

**Describe the solution you'd like**
Replace the deprecated methods with new method versions.

**Are you working on this? (Yes/No)**
Yes

[2021-10-26 10:33] tachyons opened #167 "Launch mobile app to production"
To-Do -

1. Bump major version name and version code.
2. Generate changelogs using [Conventional Changelog](https://github.com/conventional-changelog/conventional-changelog).
3. Create release with tag as `v2.0.0-prod` and description as changelogs.

__edited by @manjotsidhu__

[2021-10-27 06:37] #165 closed, assigned to nobody

[2021-11-15 16:37] #167 closed

[2021-11-17 09:28] manjotsidhu commented on #164
This is due to the package `flutter_web_auth` and not caused by our mobile app. I will keep this opened, if there is a newer version of this package available then that might fix this issue.

[2021-11-18 12:57] aman-singh7 commented on #105
Hey @manjotsidhu , can I work on this?

[2021-11-23 09:05] aman-singh7 commented on #149
@manjotsidhu can I work on the remaining ones?

[2021-11-26 13:10] aman-singh7 commented on #99
@manjotsidhu can I work on this?

[2021-12-03 15:43] Aadeesh11 commented on #84
Hello, Is this issue still open? @manjotsidhu

[2021-12-03 15:47] devansh12b2 commented on #70
I want to work on this issue; please assign it to me.

[2021-12-03 16:25] Aadeesh11 commented on #79
Is this issue open? I want to work on this.

[2021-12-04 08:33] #79 closed

[2021-12-04 12:54] Aadeesh11 opened #173 "Bug: Hidden FAB's in Interactive Book are active when hidden."
**Describe the bug**
The Floating Action Buttons in interactive book are active(i.e can be pressed) even when they are not visible. This can lead to unexpected UX.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Interactive Book'
2. Open any chapter.
3. Scroll down to hide the FAB buttons.
4. After Tapping on the hidden FAB, page changes.

**Expected behavior**
Since it is an Interac

[2021-12-04 12:55] Aadeesh11 commented on #173
@manjotsidhu can you please assign this to me?

[2021-12-04 16:57] Aadeesh11 opened #175 "[Interactive Book] Bug: Unexpected behaviour on tapping any Chapter Content tile."
**Describe the bug**
Unexpected behaviour on tapping any Chapter Content tile.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to 'Interactive Book'
2. Go to any Chapter Contents Page, for eg:  Binary Representation.
3. Click/Tap on any Chapter Content Tile, for eg: a. Binary Numbers
4. After Tapping Route pops unexpectedly.

**Expected behaviour**
After tapping, route should not pop, i

[2021-12-04 16:58] Aadeesh11 commented on #175
@manjotsidhu please assign this to me.

[2021-12-04 18:30] Aadeesh11 commented on #84
Please guide me how should I proceed to solve this issue?

[2021-12-05 06:54] #173 closed

[2021-12-05 07:00] manjotsidhu commented on #84
@Aadeesh11 You will need to implement these changes #134 (later on they were reverted due to failing tests) and also fix UI Tests. Make sure all the error codes are properly handled with messages. Also make sure error widgets are implemented in all screens where APIs are being called.

[2021-12-05 09:23] Aadeesh11 commented on #149
@manjotsidhu can i work on some of the remaining one?

[2021-12-05 09:39] #175 closed

[2021-12-05 20:22] devansh12b2 commented on #149
@manjotsidhu  can I work on some of the remaining.

[2021-12-06 19:57] sherlockCPDEV commented on #36
@satu0king @tachyons @manjotsidhu is this issue/enhancement open?
If it is, I would like to take this up for GSOC'22.
Can you please guide to me to get started, or some initial steps?
Thank you. 😃

[2021-12-12 08:56] dipanshparmar commented on #99
Hey @manjotsidhu, may I take this up?

[2021-12-22 07:43] #105 closed

[2021-12-28 10:23] ItsAdityaKSingh opened #183 "Adding Live Workings"
**Is your feature request related to a problem? Please describe.**
It is always better to make circuits more interactive and understandable. Merely looking at diagrams and reading text about it may not be appealing.

**Describe the solution you'd like**
Adding live workings of circuits and logical gates by using GIFs wherever necessary.

**Describe alternatives you've considered**
Either a GIF cou

[2021-12-28 10:24] ItsAdityaKSingh commented on #183
@manjotsidhu If this feature seems worth executing, I would like to work upon it. So could you assign it to me?

[2021-12-28 10:47] manjotsidhu commented on #183
The idea is good, where you want to implement this ? Circuits or inside Interactive Book ?

[2021-12-28 21:34] ItsAdityaKSingh commented on #183
According to me, the Circuits are not that well numbered, developed, or elaborated till now for a full-fledged apply of this idea. We can start from Interactive Book, where the teaching part is present. Moreover, in circuits where a detailed explanation of working is or can be introduced, then providing a live working demo would be a boon. So, according to the level of current status, we may apply

[2021-12-28 22:00] ItsAdityaKSingh opened #184 "Eye icon wrongly executed"
**Describe the bug**
Eye icon wrongly executed

**Expected behavior**
Eye icon should be open when the password is encrypted and off when it is clicked to show the password

**Screenshots**

<img src="https://user-images.githubusercontent.com/69353350/147610205-ab0a047c-07e8-4787-a3d6-359952c897db.png" height="500"/>

**Are you working on this issue? (Yes/No)**
Yes

[2021-12-29 06:47] manjotsidhu commented on #183
Can you provide a brief action plan so that we can construct checklists ?

[2021-12-29 06:49] manjotsidhu commented on #183
Interactive Book content is not present in mobile-app, it's loaded from learn.circuitverse.org via API. So, interactive examples or live workings need to added to https://github.com/CircuitVerse/Interactive-Book.

[2021-12-29 07:23] ItsAdityaKSingh opened #186 "Irregular sizing of Credential Screens"
**Describe the bug**
The Login and Sign Up pages have some options running down the working screen.

**To Reproduce**
Open CircuitVerse App

1. Go to 'Login or Sign Up screen'
2. See error

**Expected behavior**
All the options to Sign in or Sign up should be present at once on 1 screen without the need to scroll. Some users may miss out on given options if they unsee them.

**Screenshots**

<img

[2021-12-29 16:42] #184 closed

[2021-12-30 06:45] ItsAdityaKSingh commented on #183
Ok! Thanks. I will try and introduce this feature there too. For mobile-app, should we be implementing it in the featured circuits section?

[2022-01-02 07:53] ItsAdityaKSingh opened #189 "Mapping Warning while building app"
**Describe the bug**
Numerous mapping warnings are thrown on the console while building the app

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'main.dart'
2. Click on 'Run app'
3. Scroll down to 'Debug console'
4. See error

**Expected behavior**
No warnings should be thrown for the app to be stable and build-ready.

**Screenshots**
<img width="961" alt="Screenshot 2022-01-02 at 1 03

[2022-01-02 08:34] #186 closed

[2022-01-02 08:38] manjotsidhu commented on #183
For Circuits in Featured Circuits/Community/etc, they are fetched from API. If you want to show simulator then check https://api.circuitverse.org if simulator link is available, you can show the simulator in webview

[2022-01-12 04:23] #189 closed

[2022-01-14 14:16] #99 closed

[2022-01-14 21:42] aman-singh7 commented on #70
Hey @manjotsidhu, can I work on this?

[2022-01-15 18:29] ItsAdityaKSingh commented on #70
@aman-singh7 Hey Aman! Currently I am working on resolving this issue. If not resolved, you may see it through :)

[2022-01-15 18:56] aman-singh7 commented on #70
@ItsAdityaKSingh Please do mention before starting to work on the issue.

[2022-01-15 19:02] ItsAdityaKSingh commented on #70
@aman-singh7  I am currently trying to resolve it. Will let you know at the earliest!

[2022-01-16 10:02] ItsAdityaKSingh opened #194 "Test issues after latest commit"
**Describe the bug**
The tests are having issues after the latest update and the PRs are failing due to it.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Any test file'
2. Click on 'Run'
3. Scroll down to 'Debug Console'
4. See error

**Expected behavior**
Tests should not be failing

**Screenshots**
<img width="978" alt="Screenshot 2022-01-16 at 3 28 18 PM" src="https://user-image

[2022-01-16 10:55] manjotsidhu commented on #194
Please check your development environment as the CI successfully passes tests + analyzer. Refer: https://github.com/CircuitVerse/mobile-app/runs/4817887656?check_suite_focus=true

[2022-01-17 07:56] ItsAdityaKSingh commented on #194
Hey @manjotsidhu. Just wanted to know if tests are working fine in your local environment? I tried some ways, but my flutter environment and packages seem fine; however, I'm still facing the errors mentioned above.

[2022-01-17 10:09] aman-singh7 commented on #194
@ItsAdityaKSingh Run this command `flutter packages pub run build_runner build` to generate those files.

[2022-01-18 14:30] aman-singh7 opened #196 "[Interactive Book] fix parsing `sup` HTML tag"
**Describe the bug**
The HTML tag `sup` is not properly parsed on a screen in Interactive Book.

**To Reproduce**

**Screenshots**
![WhatsApp Image 2022-01-18 at 3 41 28 PM (1)](https://user-images.githubusercontent.com/77198905/149955127-d83e260f-bc75-4ea2-a611-121b8252c2cf.jpeg)
![WhatsApp Image 2022-01-18 at 3 41 28 PM](https://user-images.githubusercontent.com/77198905/149955174-2f49ae4b-b2af-

[2022-01-18 14:30] aman-singh7 commented on #196
@manjotsidhu please assign this to me.

[2022-01-18 14:33] manjotsidhu commented on #196
This issue might give you a little bit of hard time as `flutter_markdown` was buggy. We are using a local fork of it, check https://github.com/CircuitVerse/packages. Feel free give PR to that repo as we haven't keep that fork up to date with the new changes from https://github.com/flutter/packages

[2022-01-27 19:00] noman2002 opened #197 "Password Validator only validates for empty password"
**Describe the bug**
Password validator only validates for empty password on signup page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Signup page'
2.  'enter a small password'
3. See error

**Expected behavior**
It should show "password is too short " when the length of password is short.

**Screenshots**
<img src="https://user-images.githubusercontent.com/54404474/151425662-30f0

[2022-01-27 19:00] noman2002 commented on #197
Please assign it to me. I am working on it.

[2022-01-30 10:49] sidB67 commented on #33
is this issue resolved? If not can it be assigned to me?

[2022-02-01 06:00] #197 closed

[2022-02-03 20:34] aman-singh7 opened #200 "Migrate App to Android Embedding v2"
**Are you working on this issue? (Yes/No)** Yes

[2022-02-10 02:23] remote007 commented on #149
@ItsAdityaKSingh is this still open to MR ?

[2022-02-10 07:49] ItsAdityaKSingh commented on #149
@remote007 I have made a PR for it which hasn't been reviewed yet.

[2022-02-13 18:34] #200 closed

[2022-03-02 13:36] noman2002 opened #203 "Fix Deprecated API warning for `flutter_facebook_auth` and `google_sign_in` plugins."
**Describe the bug**
while building the app it shows "uses or overrides deprecated API" for both `flutter_facebook_auth` and `google_sign_in` plugins.

**To Reproduce**
Steps to reproduce the behavior:

1. Build the app
2. Monitor the console
3. See error messages.

**Expected behavior**
It should not give those warnings.

**Screenshots**
![Screenshot from 2022-03-02 18-57-47](https://user-images.

[2022-03-03 06:28] #70 closed

[2022-03-03 06:35] aman-singh7 commented on #164
@manjotsidhu  This is already fixed in #201

[2022-03-03 06:36] #164 closed

[2022-03-08 19:21] aman-singh7 commented on #33
@manjotsidhu can I work on this?

[2022-03-10 08:49] noman2002 opened #206 "Remove "Subscribe to mail" data from others profile."
**Is your feature request related to a problem? Please describe.**
Subscribe to mail is rendering on everyone's profile which is irrelevant information relatively.

**Describe the solution you'd like**
It should not render the "Subscribe to mail" data for every other profile.

**Screenshot**
<img src="https://user-images.githubusercontent.com/54404474/157616809-0f0cd2b9-4328-4392-86c8-561f70c6eac6

[2022-03-11 06:18] Omegaviv opened #207 "Null Exception error, when the app starts"
**Describe the bug**
When we run the app, there is a null exception error thrown

Log :
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Run the app in device/emulator
2. check console log

**Are you working on this issue? (Yes/No)**
Yes

[2022-03-11 06:19] Omegaviv commented on #207
A potential fix could be checking the variable before assigning it, if it is Null we can set it to false.
Is this the correct way?

[2022-03-13 09:51] aman-singh7 opened #211 "Fix deprecated splash screen."
**Describe the bug**
When we build the app this is shown in debug console i.e `A splash screen was provided to Flutter, but this is deprecated.`.

- OS: [e.g. iOS/Android]
Android

**Are you working on this issue? (Yes/No)**
Yes

[2022-03-13 16:03] noman2002 opened #212 "CountryInstituteAPI is not fetching country and institute data on edit profile page."
**Describe the bug**
CountryInstituteAPI is not fetching country data on the edit profile page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Profile page'
2. Click on 'edit profile'
3. Entry country name
4. See error

**Expected behavior**
It should load a list of counties.

**Screenshots**
<img src="https://user-images.githubusercontent.com/54404474/158068274-5f4d860d-700c-4c09-9

[2022-03-17 17:07] tachyons opened #215 "Add timeout to github actions"
Sometimes build action take hours due to external dependencies, setup timeout to handle those scenarios.
Ref: https://markfontenot.net/2021/09/21/adding-timeout-to-github-actions/#:~:text=To%20add%20a%20timeout%20to,repo%20after%20confirming%20the%20addition.

[2022-03-18 04:24] SarveshLimaye commented on #215
@tachyons would like to work on this issue . Can you also let me know the timeout period for the actions to run 😄

[2022-03-18 11:23] tachyons commented on #215
We need to figure that using based on the existing successful jobs

[2022-03-20 13:30] manjotsidhu commented on #212
@aman-singh7 @ItsAdityaKSingh Are you guys able to reproduce this Issue ?

[2022-03-21 03:05] Omegaviv opened #216 "Interactive book throwing error"
**Describe the bug**
In some chapters of interactive book, when moving to the next page ```_inlines.isEmpty': is not true.``` error is thrown as shown in the video below

**To Reproduce**
Steps to reproduce the behavior:

1. Run the app
2. Go to Interactive books
3. Go to the sequential SSI section
4. Open the flip-flops section
5. Keep going to the next pages and see the error

**Console log**
[c

[2022-03-21 03:08] Omegaviv commented on #216
Any suggestions on how this could be solved?

[2022-03-21 07:40] FlamingSaint commented on #84
Hey,is this issue still open @manjotsidhu ?

[2022-03-24 04:58] Omegaviv commented on #216
<img src="https://user-images.githubusercontent.com/86337946/159844751-aa25a19b-ba91-4428-87e0-62ca79b77327.jpg" width="200">

According to me the content for Cock Signals are missing or some error int the data base

[2022-04-25 14:29] #207 closed

[2022-04-25 14:30] #33 closed

[2022-05-31 13:28] #25 closed

[2022-06-05 17:26] #206 closed

[2022-06-10 06:42] #212 closed

[2022-06-10 07:44] aman-singh7 opened #221 "Implement the missing section in the app"
The Editor picks are only currently available in the app. `Featured Circuits` and `Recent Circuits` are only visible on the web version.

**Are you working on this? (Yes/No)**
Yes

[2022-06-10 07:46] aman-singh7 opened #222 "Upload profile picture in app"
The updating profile picture is currently not available in the app.

**Are you working on this? (Yes/No)**
Yes

[2022-06-10 17:43] manjotsidhu commented on #221
@aman-singh7 Can you please elaborate on this issue ?

[2022-06-10 23:56] aman-singh7 commented on #221
- Screenshot of the App:-
![WhatsApp Image 2022-06-11 at 5 14 12 AM](https://user-images.githubusercontent.com/77198905/173163689-39ff128e-9dd7-4025-99f2-eb97911da862.jpeg)

- Screenshot of the website
![Screenshot from 2022-06-11 05-24-32](https://user-images.githubusercontent.com/77198905/173163802-c51a2580-2bec-47a0-a631-53eac05108d1.png)
![Screenshot from 2022-06-11 05-24-42](https://user-imag

[2022-06-12 06:34] aman-singh7 opened #223 "Search feature in Circuits"
**Is your feature request related to a problem? Please describe.**
Currently, users have to scroll to find a circuit.

**Are you working on this? (Yes/No)**
Yes

[2022-06-12 06:43] aman-singh7 opened #224 "Search Feature in Interactive Book"
**Is your feature request related to a problem? Please describe.**
The user can search for a specific keyword in the whole book.

**Are you working on this? (Yes/No)**
Yes

[2022-06-13 10:51] #215 closed

[2022-06-29 06:39] #223 closed

[2022-07-02 12:21] #222 closed

[2022-07-02 23:35] aman-singh7 opened #228 "Implement Multiple Mentor Support"
**Is your feature request related to a problem? Please describe.**
Feature description is in this [issue](https://github.com/CircuitVerse/CircuitVerse/issues/2050).

**Are you working on this? (Yes/No)**
Yes

[2022-07-05 03:51] PranavMasekar commented on #211
@aman-singh7 Can you assign this to me ?

[2022-07-08 16:33] aman-singh7 opened #231 "Embed Simulator in the app"
**Is your feature request related to a problem? Please describe.**

**Are you working on this? (Yes/No)**
Yes

[2022-07-08 18:13] #224 closed

[2022-07-09 20:20] aman-singh7 opened #233 "CVFlatButton active color does not change in dialog"
**Describe the bug**
The button state does not change from inactive to active when the text field has text.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any Owned Group
2. Click on 'Add' on the right of Mentors/Members
3. Edit the email text field
4. See the error

**Expected behavior**
The flat button color should be green when the text field is not empty.

**Screenshots

https://

[2022-07-14 12:00] #228 closed

[2022-07-16 11:50] manjotsidhu commented on #231
@aman-singh7 Can you list all the features we plan to integrate ? We can work on individual PRs for each feature and track it accordingly.

[2022-08-20 18:02] #211 closed

[2022-08-21 14:38] #231 closed

[2022-09-04 16:36] aman-singh7 opened #239 "Implement notification in the mobile app"
**Is your feature request related to a problem? Please describe.**
The user will be notified about the forking or star of his project.

**Are you working on this? (Yes/No)**
Yes

[2022-09-05 04:43] Aditya-150 commented on #233
Hey @aman-singh7, can I work on this?

[2022-09-09 02:14] Aditya-150 commented on #233
@manjotsidhu can you please review the pull request.

[2022-09-12 13:51] #239 closed

[2022-09-20 17:27] #233 closed

[2022-09-20 17:35] aman-singh7 opened #241 "Automatically create chips for email"
**Is your feature request related to a problem? Please describe.**
While adding members or mentors to the group, we have to input emails separated by coma(,) to make it more visual, we can show chips for each email.

**Describe the solution you'd like**
For context you can see this package **flutter_chip_input**.

**Are you working on this? (Yes/No)**

[2022-10-13 13:35] razaAtif commented on #241
Hi @aman-singh7 I would like to contribute on this issue, can you please assign this issue to me.

[2022-10-25 10:21] smil-thakur commented on #100
hello, can I too contribute to the Figma design for the app? I would love to do so

[2022-10-25 10:54] tachyons commented on #100
@smil-thakur Yes please

[2022-10-25 10:57] smil-thakur commented on #100
Where do I get the link to the Figma framework?

[2022-10-26 19:25] smil-thakur commented on #100
Where can I get the link for figma Design?

[2022-11-10 09:42] danger-ahead opened #243 "flutter pub get doesn't work and gets stuck"
**Describe the bug**
`flutter pub get` doesn't work.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `flutter pub get` after cloning the repo.
[code]
`flutter pub get` gets stuck.

**Expected behavior**
Running `flutter pub get` should have downloaded the dependencies.

**Are you working on this issue? (Yes/No)** Willing to work on this issue.

[2022-11-10 12:45] anuragrao04 commented on #241
@aman-singh7

[2022-11-10 13:04] aman-singh7 commented on #241
@anuragrao04, you can start working if someone doesn't show any update on the assigned issue in a week. He will be unassigned.

[2022-11-10 13:09] anuragrao04 commented on #241
Thanks! can you please assign me this issue on the 19th of this month? I will have my exam week from the 14th to the 18th of November. I would still try to work on the issue during this period though. If anybody wants to work on the issue during this period, they can be assigned and I will not be blocking the issue. I will ping back here on the 19th as a reminder :)

[2022-11-10 13:10] aman-singh7 commented on #243
I am not able to reproduce this. Please check your internet connectivity.

[2022-11-10 13:59] anuragrao04 opened #244 "The button to change themes must be a bit lower down on the sidebar"
**Describe the bug**
The button to change the theme is a bit too close to the dynamic island on newer iPhone models. This makes clicking it a bit difficult.

**To Reproduce**
Just open the sidebar from the homepage.

**Expected behaviour**
The theme change icon should be a bit farther away from the dynamic island

**Screenshots**
<img width="586" alt="image" src="https://user-images.githubusercont

[2022-11-10 15:13] #243 closed

[2022-11-10 16:07] danger-ahead commented on #241
I am working on this issue.

[2022-11-15 10:24] danger-ahead commented on #241
@aman-singh7 can you please checkout the latest pr?